* {
	margin: 0;
	padding: 0;
}

::-moz-selection {
	color: #000;
	background: #d3d3d3;
}

::selection {
	color: #000;
	background: #d3d3d3;
}

body,
html {
	height: 100%;
}

body {
	font-family: "Roboto Mono", monospace;
	overflow: hidden;
}

a {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:focus,
a:hover {
	text-decoration: none;
}

h1,
h2 {
	font-style: normal;
	text-transform: none;
	letter-spacing: 3px;
	font-weight: 300;
}

pre {
	font-size: 18px;
	padding: 1.5em 1em;
	border-radius: 0;
	border: none;
	border: 1px solid #ccc;
	border-left: 6px solid #ccc;
	background: shade(white, 2%);
}

a {
	text-decoration-line: none;
}

.brand h1,
.brand h2 {
	display: table;
	margin: 0 auto;
}

.brand {
	text-align: center;
	position: absolute;
	height: 200px;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
	justify-content: center;
	align-items: center;
}

.brand h1 {
	letter-spacing: 0.2em;
	text-shadow: 1px 1px 10px #3b3b3b;
	background: rgba(1, 1, 1, 0.34);
	padding: 0.3em;
	color: white;
	padding-left: 1em;
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	-o-animation-delay: 0.7s;
	/* ms-animation-delay: 0.7s; */
	font-size: 3.2em !important;
	line-height: 0.8em !important;
}

.brand h2 {
	opacity: 0.7;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	/* ms-animation-delay: 1s; */
	color: #cccccc;
	font-size: 1.9em;
	letter-spacing: 0.2em;
	margin-top: 1.2em;
	padding-left: 1em;
	background: rgba(1, 1, 1, 0.08);
	font-weight: 300;
}

.box {
	margin: 1em 2.5em;
	display: inline-block;
	height: 3.3em;
	width: 3.3em;
	line-height: 3.3em;
	color: white;
}

.dix {
	text-align: center;
	vertical-align: middle;
	font-size: 2em;
	color: white;
	height: 3em;
	width: 3em;
	line-height: 3em;
	display: inline-block;
	border-radius: 20%;
	border-width: 0.03em;
	transition: 0.3s ease;
}

.box a {
	text-decoration: none;
	color: inherit;
}

.dix:hover {
	height: 3em;
	width: 3em;
	line-height: 3em;
	background-color: white;
	color: black;
	transition: 0.2s ease;
}
